body {
  background: #e3e3e3;
}

h1, h3 {
  text-align: center;
  margin: 4px;
}

#grid {
  background-color: grey;
  margin: 0 auto;
  max-width: 404px;
  max-height: 404px;
}

.cell {
  width: 10px;
  height: 10px;
  float: left;
}

.empty {
  background-color: #282828;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
